.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: var(--paddingMedium);
}
.mainGifContainer{
    position: absolute
}
.mainImageContainer{
    position: relative;
    border: 1px solid var(--textSecondary);
    background-color: black;
    padding: 5px;
}
.mainGifContainer, .mainImageContainer{
    position: relative;
    max-width: 50%;
    min-width: 50%;
    height: auto;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.3s ease;

    
}
.mainGifContainer:hover, .mainImageContainer:hover{
    transform: scale(1.1);
    z-index: 2;
}
.mainGifContainer img, .mainImageContainer img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
.titleAndDescription{
    display: flex;
    flex-direction: column;
    font-family: var(--mainFont);
    padding: var(--paddingSmall);
    width: 50%;
}
.titleMobile{
    display: none;
    margin-top: 0px;
    margin-bottom: var(--paddingSmall);
}
.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-wrap: nowrap;
    margin-top: 0px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--paddingSmall);
    padding-bottom: var(--paddingSmall);
    row-gap: var(--paddingSmall);
}
.button{
    padding: var(--paddingSmall);
    border-radius: 15px;
    min-width: 150px;
    text-align: center;
    margin-inline: var(--paddingSmall);
    transition: transform 0.3s ease-in-out;
}
.button:hover{
    transform: scale(1.1);
}
.liveSite{
    background-color: var(--primary);
}
.repoLink{
    background-color: var(--secondary);
}
.learnMore{
    background-color: var(--success);
}

@media screen and (max-width: 576px){
    .buttons{
        gap: 5px;
        
    }
    .button{
        font-size: 14px;
        padding-block: var(--paddingSmall);
        padding-inline: (5px);
        min-width: 126px;
        margin-inline: 0px;
        
    }
}


@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: var(--paddingMedium);
    }
    .titleMobile{
        display: block;
        font-size: 20px;
        font-weight: 600;
        text-wrap: nowrap;
    }
    .title{
        display: none;
    }
    .titleAndDescription{
        width: 100%;
    }
    .mainGifContainer, .mainImageContainer{
        max-width: 100%;
        min-width: 100%;
    }
    .mainGifContainer:hover, .mainImageContainer:hover{
        transform: scale(1);
    }
    
}