.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.link{
    color: var(--offWhite) ;
    box-sizing: border-box;
    margin: 2px;
}
.link:hover{
    font-weight: 999;
    text-shadow: 3px 3px 1px var(--offBlack);
}
.active {
    font-weight: 999;
    text-shadow: 3px 3px 1px var(--offBlack);
}