:root{
  /* --offBlack: #333333; */
  --offBlack: rgba(15, 20, 25);
  --offWhite: #eeeded;
  --almostBlack: #050505;
  --active: #FFD233;
  --textSecondary: rgba(131, 156, 186);

  --mainFont: "Nunito Sans", sans-serif;

  --paddingSmall: 15px;
  --paddingMedium: 30px;
  --paddingLarge: 90px
}
*{
  box-sizing: border-box;
}
html{
  padding: 0px;
  margin: 0px;
  min-width: 100vw;
  max-width: 100vw;
}
body{
  padding: 0;
  margin: 0;
  background-color: var(--offBlack);
  font-family: var(--mainFont);
}
.page{
  background-color: var(--offBlack);
  padding-top: var(--paddingMedium);
  color: var(--offWhite);
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;

}.myh1{
  font-size: 48px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: var(--paddingMedium);
  padding-bottom: 0px;
  text-align: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  padding-inline: var(--paddingMedium);
  cursor:default;
  border-radius: 10px;
}

.myh2{
  font-weight: 400;
  margin-top: var(--paddingSmall);
  margin-bottom: var(--paddingMedium);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  padding-inline: var(--paddingMedium);
  padding-block: var(--paddingSmall);
  cursor:default;
  border-radius: 10px;
}