.container{
    background-color: var(--offBlack);
    color: var(--offWhite);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: var(--paddingMedium);
    min-width: 100vw;
}  
.content{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.pageHeader{
    font-size: 50px;
    font-family: var(--mainFont);
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    margin-bottom: var(--paddingSmall);
}
.mainProjectHeader{
    font-family: var(--mainFont);
    font-weight: 400;
    border-radius: 10px;
    margin: 0px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    margin-bottom: var(--paddingMedium);
}
.featuredProjectHeader{
    font-family: var(--mainFont);
    font-weight: 400;
    border-radius: 10px;
    margin: 0px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    margin-bottom: var(--paddingMedium);
}
.moreProjectsSubheader{
    text-align: center;
    margin: 0px;
    display: none;
    margin-bottom: var(--paddingSmall);
}
.aboutMe    {
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: var(--paddingMedium);
    padding: 0px;
    font-family: var(--mainFont);
    font-weight: 100;
}
.headShot{
    margin-top: var(--paddingSmall);
    height: 250px;
    width: 250px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--paddingMedium);
    opacity: 0;
    transform: translateY(20px);

}
.headShotImage{
    position: relative;
    top: -30px;
    overflow: hidden;
    background-position: 30px;

    transition: opacity 0.6s ease, transform 0.6s ease;
}
.loaded{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease;

}
.carouselSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: var(--paddingMedium);
    position: relative;
}
.FeaturedProjects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--paddingMedium);

}
.contactSection{
    padding: var(--paddingSmall);
}
.contactMe{
    font-size: 18px;
    margin-bottom: 0px;
}
.contactLink{
    color: var(--primary);
}
.socials{
    display: flex;
    gap: var(--paddingSmall);
    padding: var(--paddingSmall);
    font-size: 40px;
}
@media screen and (max-width: 576px) {
    .container h1{
        font-size: 36px;
    }
    .moreProjectsSubheader{
        display: block;
    }
} 

