.container{
    background-color: var(--offBlack);
    color: var(--offWhite);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: var(--paddingMedium);
}  
.content{
    display: flex;
    flex-direction: column;

    max-width: 800px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.container h1{
    font-size: 50px;
    font-family: var(--mainFont);
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    margin-bottom: var(--paddingSmall);
}
.featuredProjectsHeader{
    font-family: var(--mainFont);
    font-weight: 400;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: var(--paddingMedium);
}
.aboutMe    {
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: var(--paddingMedium);
    padding: 0px;
    font-family: var(--mainFont);
    font-weight: 100;
}
.headShot{
    margin-top: var(--paddingSmall);
    height: 250px;
    width: 250px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--paddingMedium);
    opacity: 0;
    transform: translateY(20px);

}
.headShotImage{
    position: relative;
    top: -30px;
    overflow: hidden;
    background-position: 30px;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.loaded{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease;

}
.FeaturedProjects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--paddingMedium);

}
@media screen and (max-width: 576px) {
    .container h1{
        font-size: 36px;
    }
} 

