.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;

}

.videoContainer{
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoWrapper{
    width: fit-content;
    height: fit-content;
    
}
.videoInfo{
    display: flex;
    flex-direction: column;
    font-family: var(--mainFont);
    padding: var(--paddingSmall);
    width: 50%;
    max-width: 300px;
    height: 100%;
}
.title{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-wrap: nowrap;
    font-family: var(--mainFont);
    margin: 0px;
}
.description{
    color: var(--textSecondary);
    font-family: var(--mainFont);
    font-size: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: var(--paddingSmall);
}
@media screen and (max-width: 576px){
    .container{
        flex-direction: column;
    }
    .videoContainer{
        width: 100%;
    }
    .videoInfo{
        width: 100%;
    }
    
}