.container{
    background-color: rgb(82, 86, 89);
    text-align: center;
    color: var(--offWhite);
    padding-top: var(--paddingMedium);
    height: calc(100vh - 80px);
    height: 5000px;
}
.header{
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: var(--paddingMedium);
}
.container embed{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.container iframe{
    width: 835px;
    max-width: 100vw;
    height: 3600px
}
.c25, .doc-content{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 992px){
    /* .container iframe{
        display: none;
    } */
    .header{
        line-height: 2;
        font-weight: 500;
        margin: var(--paddingMedium);
    }

}