.container{
    display: flex;
    background-color: var(--almostBlack);

    height: 80px;
    padding-inline: var(--paddingSmall);
}
.navLeft{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.navRight{
    width: 50%;
}
.desktopNav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}
.mobileNav{
    display: none;
    height: 100%;
}
.container a{

    text-decoration: none;
}
.icon{
    font-size: 24px;
    color: var(--offWhite);
    height: 50px;
    margin-right: var(--paddingSmall);
}

@media screen and (max-width: 992px) {
    .desktopNav{
        display: none;
    }
    .mobileNav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
